<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>借款操作</title>6
    <script type="javascript" src="/js/jquery-1.8.3.js"></script>
</head>
<body>
<style>

    span{
        border: 1px;
        font-size: 30px;
        color:red;
    }
    div{
        border:1px solid red;
        overflow:auto;
    }
    #shangBian{
        text-align:center;
    }
    #zuoBian{
        float:left;
        height:600px;
        width:350px;
    }
    #youBian{
        float:left;
        height:600px;
        width:800px;
    }
</style>
<div id="shangBian">
    <span >信用贷款</span>
    <span>车辆抵押</span>
    <span>房屋抵押</span>
</div>
<div id="zuoBian">
    <p class=" ">马六甲平台的借款功能旨在帮助借款用户以
        低成本获得借款。用户在需要资金时，可以将
        自有房产和车产作为抵押物，小油菜线下审核
        通过后，根据抵押物的价值融资。</p>
    <p class="">马六甲平台的借款功能旨在帮助借款用户以
        低成本获得借款。用户在需要资金时，可以将
        自有房产和车产作为抵押物，小油菜线下审核
        通过后，根据抵押物的价值融资。</p>
</div>
<div id="youBian">
    <table>
        <form id="formA">
        <tr>
            <td><label for="borrowUserName">贷款人姓名</label></td><td><input type="text" id="borrowUserName" name="borrowUserName"/></td>
        </tr>
        <tr><td><label for="input">收入</label></td><td><input type="text" id="input" name="input"/></td>
        </tr>
        <tr><td><label for="input">贷款方式</label></td><td><select id="borrowMethod" name="borrowMethod">
            <option>信用贷</option>
            <option>车辆贷</option>
            <option>房屋贷</option>
        </select></td>
        </tr>
        <tr><td><label for="methodDescribe">贷款方式描述</label></td><td><textarea id="methodDescribe" name="methodDescribe"/></textarea></td>
        </tr>
        <tr><td><label for="borrowMoney">贷款金额</label></td><td><input type="text" id="borrowMoney" name="borrowMoney"/></td>
        </tr>
        <tr><td><label for="repayTime">还款期限</label></td><td><select id="repayTime" name="repayTime">
            <option>6个月</option>
            <option>一年</option>
            <option>两年</option>
        </select></td>
        </tr><tr><td><label for="bidTime">投标期限</label></td><td><select id="bidTime" name="bidTime">
        <option>3天</option>
        <option>6天</option>
        <option>9天</option>
    </select></td>
    </tr>
        <tr><td><label for="borrowTime">借款时间</label></td><td><input type="date" id="borrowTime" name="borrowTime" /></td>
        </tr>
        <tr><td><label for="bidDescribe">投标描述</label></td><td><textarea  id="bidDescribe" name="bidDescribe"/></textarea></td>
        </tr>
        </form>
        <input type="button" value="提交" onclick="toInsert()"/>
    </table>
</div>
<script>

    /**
     *
     * 获取当前时间
     */
    function getNow(s) {
        return s < 10 ? '0' + s: s;
    }

    var myDate = new Date();
    //获取当前年
    var year=myDate.getFullYear();
    //获取当前月
    var month=myDate.getMonth()+1;
    //获取当前日
    var date=myDate.getDate();
    var h=myDate.getHours();       //获取当前小时数(0-23)
    var m=myDate.getMinutes();     //获取当前分钟数(0-59)
    var s=myDate.getSeconds();
    //带时分秒的
    //var now=year+'-'+getNow(month)+"-"+getNow(date)+" //"+getNow(h)+':'+getNow(m)+":"+getNow(s);
    //不带时分秒
    var now=year+'-'+getNow(month)+"-"+getNow(date)
    $("#borrowTime").val(now);
   //提交方法
   function toInsert(){

       $.ajax({
           url:"/borrow/insert",
           data:$("#formA").serialize(),
           type:"post",
           dataType:"json",
           success:function(data) {

           },
            error:function () {

            }
       });
    }
</script>
</body>
</html>