<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>借款操作</title>
    <link href="../css/common.css" rel="stylesheet" />
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../css/detail.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../script/jquery.min.js"></script>
    <script type="text/javascript" src="../script/common.js"></script>
    <script src="../script/ablumn.js"></script>
    <script src="../script/plugins.js"></script>
    <script src="../script/detail.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<style>
    body{
        background-color: #b9def0;
    }
    #shangBian span{
        font-size: 30px;
        color:red;
    }
    /*div{
        overflow:auto;
    }*/
    #shangBian{
        text-align:center;
    }
    #zuoBian{
        float:left;
        height:600px;
        width:350px;
    }
    #youBian{
        float:left;
        height:600px;
        width:800px;
    }
</style>
<header>
    <div class="header-top min-width" >
        <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
            <ul class="header_contact">
                <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
                    <div class="ceng" id="weixin_xlgz" style="display: none;">
                        <div class="cnr"> <img src="../images/code.png"> </div>
                        <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
                </li>
                <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
                <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
            </ul>
            <ul class="fn-right header-top-ul">
                <!--用户名为空-->
                <li th:if="${session.userInfo.USERNAME} eq null">
                    <div class="" >
                        <a href="/forwardUser/toForwardUserReg" class="" title="免费注册" >免费注册</a>
                    </div>
                </li>
                <li th:if="${session.userInfo.USERNAME} eq null">
                    <div class="" >
                        <a href="/forwardUser/toForwardUserLogin" class="js-login" title="登录" >登录</a>
                    </div>
                </li>
                <!--用户名不为空-->
                <li th:if="${session.userInfo.USERNAME} ne null">
                    <div class="">
                        <span th:text="欢迎您 "></span>
                        <span th:text="${session.userInfo.USERNAME}"></span>
                    </div>
                </li>
                <li th:if="${session.userInfo.USERNAME} ne null">
                    <div class="" >
                        <a href="/forword/toindex" class="js-login" title="退出">退出</a>
                    </div>
                </li>
                    <input type="hidden" th:value="${session.userInfo.USERID}" id="userID"/>
            </ul>
        </div>
    </div>
    <div class="header min-width">
        <div class="container">
            <div class="fn-left logo"> <a class="" href="/userAccount/index"> <img src="../images/logo.png" title=""> </a> </div>
            <ul class="top-nav fn-clear">
                <li> <a href="/userAccount/index">首页</a> </li>
                <li class="on"> <a href="/forword/toBid" >我要投资</a> </li>
                <li> <a href="/borrow/toBorrow" class="">我要借款</a> </li>
                <li> <a href="/userAccount/bzzx">安全保障</a> </li>
                <li class="top-nav-safe"> <a href="/userAccount/Account">我的账户</a> </li>
                <li> <a href="/userAccount/gsjj">关于我们</a> </li>
            </ul>
        </div>
    </div>
</header>
<div id="shangBian">
    <span >信用贷款</span>
    <span>车辆抵押</span>
    <span>房屋抵押</span>
</div>
<div id="zuoBian">
    <p class=" ">马六甲平台的借款功能旨在帮助借款用户以
        低成本获得借款。用户在需要资金时，可以将
        自有房产和车产作为抵押物，小油菜线下审核
        通过后，根据抵押物的价值融资。</p>
    <p class="">马六甲平台的借款功能旨在帮助借款用户以
        低成本获得借款。用户在需要资金时，可以将
        自有房产和车产作为抵押物，小油菜线下审核
        通过后，根据抵押物的价值融资。</p>
</div>
<div id="youBian">
    <table class="table table-striped">
        <form id="formA" >
            <tr class="success">
                <td><label for="bidAmount">贷款金额</label></td><td><input type="text" id="bidAmount" name="bidAmount" onkeydown="return showPri(event)" onkeyup="check()"/><span style="font-size: small;color: #5cb85c" id="money">单位为元</span></td>
            </tr>
            <tr class="success">
                <td><label for="bidRepaymentMethod">还款方式</label></td><td><input type="text" id="bidRepaymentMethod" name="bidRepaymentMethod" value="等额本息" readonly="true"/><span style="font-size: small;color: #5cb85c">现仅支持等额本息</span></td>
            </tr>
            <tr class="warning"><td><label for="bidType">标的类型</label></td><td><select id="bidType" name="bidType">
                <option>信用贷</option>
                <option>房屋贷</option>
                <option>车辆贷</option>
            </select></td>
            </tr>
            <tr class="success"><td><label for="bidDeadline">还款期限</label></td><td><select id="bidDeadline" name="bidDeadline">
                <option value="1">1个月</option>
                <option value="3">3个月</option>
                <option value="6">6个月</option>
            </select></td>
            </tr><tr class="info"><td><label for="bidDeadDay">招标天数</label></td><td><select id="bidDeadDay" name="bidDeadDay">
            <option value="3">3天</option>
            <option value="6">6天</option>
            <option value="9">9天</option>
        </select></td>
        </tr>
            <tr class="warning">
                <td><label for="bidRate" readonly="true" >还款月利率</label></td><td><input type="text" id="bidRate" name="bidRate" value="2" readonly="true"/><span style="font-size: small;color: #5cb85c">单位为%</span></td>
            </tr>
            <tr class="success">
                <td><label for="bidApplyDate">申请时间</label></td><td><input type="date" id="bidApplyDate" name="bidApplyDate" readonly="readonly" /></td>
            </tr>
            <!--<tr class="warning">
                <td><label for="bidDeadDate">结束时间</label></td><td><input type="date" id="bidDeadDate" name="bidDeadDate" readonly="readonly" /></td>
            </tr>-->
            <tr class="info">
                <td><label for="bidDesc">借款描述</label></td><td><textarea id="bidDesc" name="bidDesc"/></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="button" value="提交" id="tiJiao" onclick="return toInsert()"/></td>
            </tr>
        </form>

    </table>
</div>
<script>

    /**
     *
     * 获取当前时间
     */
    function getNow(s) {
        return s < 10 ? '0' + s: s;
    }

    var myDate = new Date();
    //获取当前年
    var year=myDate.getFullYear();
    //获取当前月
    var month=myDate.getMonth()+1;
    //获取当前日
    var date=myDate.getDate();
    //获取当前日加3
   // var date1=myDate.getDate()+3;
    var h=myDate.getHours();       //获取当前小时数(0-23)
    var m=myDate.getMinutes();     //获取当前分钟数(0-59)
    var s=myDate.getSeconds();
    //带时分秒的
    //var now=year+'-'+getNow(month)+"-"+getNow(date)+" //"+getNow(h)+':'+getNow(m)+":"+getNow(s);
    //不带时分秒
    var now=year+'-'+getNow(month)+"-"+getNow(date);
    //var now1=year+'-'+getNow(month)+"-"+getNow(date1)
    $("#bidApplyDate").val(now);
   // $("#bidDeadDate").val(now1);


    //提交方法
    function toInsert(){
       /* //获取form标签元素
        var form=document.getElementById('formA');
        //获取form下元素下所有input标签
        var inputArray=form.getElementsByTagName("input");
        var inputArrayLength=inputArray.length;
        alert(inputArrayLength);
        //循环input元素数组
        for(var int=0;int<inputArrayLength;int++){
            //判断每个input元素的值是否为空
            if( inputArray[int].value==null || inputArray[int].value==''){
                alert('亲！所有项都为必填项^_^');
                return false;
            }
        }*/
        var bidAmount=$("#bidAmount").val();
        var bidDesc=$("#bidDesc").val();
        if(bidAmount==''&&bidDesc==''){
            alert("每项都为必填项，请都填写完再提交")
            return false;
        }
        $.ajax({
            url:"/borrow/insert",
            data:$("#formA").serialize(),
            type:"post",
            dataType:"json",
            success:function(data) {

            },
             error:function () {

             }
        });
        //如果所有Input标签的值都不为空的话
        alert('下单成功');
        //页面刷新
        location.href=location.href;
        return true;
     }

    //姓名校验
    /*$("#borrowUserName").blur(function() {
        alert(1);
        var name=$("#borrowUserName").val();
        var regName =/^[u4e00-u9fa5]{2,4}$/;
        if(!regName.test(name)){
            $("#userName").html("姓名格式错误").css("color","blue");
        }
    });*/
    //招标天数
    $("#bidDeadDay").change(function () {

        var bidDeadDay = $("#bidDeadDay").val();
        var myDate = new Date();
        //获取当前年
        var year=myDate.getFullYear();
        //获取当前月
        var month=myDate.getMonth()+1;
        //获取当前日  加上投标天数
        var a=parseInt(bidDeadDay);
        var date=myDate.getDate()+a;
        //alert(date);
        var h=myDate.getHours();       //获取当前小时数(0-23)
        var m=myDate.getMinutes();     //获取当前分钟数(0-59)
        var s=myDate.getSeconds();
        //不带时分秒
        var now=year+'-'+getNow(month)+"-"+getNow(date);
        //alert(now);
        $("#bidDeadDate").val(now);

    });

    //校验输入金额
    //只能输入数字
    function showPri(event){
        var eve=event?event:window.event;
        //document.getElementById("tex").value=eve.keyCode;
        var a = eve.keyCode;
        if(a>=48&&a<=57||a>=96&&a<=105||a==110||a==190||a==8)return true;
        return false;
    }
    function check() {
     var money=  parseFloat($("#bidAmount").val());
     if(10000<=money&&money<=50000){
        $("#money").html("金额范围正确");
         $("#tiJiao").prop("disabled",false);
     }else{
         $("#money").html("范围为1万-5万元").css("color","red");
         $("#tiJiao").prop("disabled","disabled");
     }
    }

    //页面数据初始化
    $(function () {
        $.ajax({
            url:"/borrow/select",
            type:"post",
            data:{userID:$('#userID').val()},
            //dataType:"json",
            success:function(data){
                //查询是否有一个正在投的标
                //if(data>0){
                if (data.auditResult==0){
                    var str="<span style='font-size: 50px;color: #8bc026'>您还没有完成审核，请审核完成后再来投标吧&nbsp;&nbsp;<u><a href='/forwardUser/toUserMain'>实名认证</a>&nbsp;&nbsp;<a href='/forwardUser/toUserMain'>视频认证</a></u></span>";
                    $("#youBian").html('');
                    $("#youBian").html(str);
                }else if(data.list.length>0){
                    var str="<span style='font-size: 50px;color: #8bc026'> 您有未完成的标，现在不能继续投标</span>";
                    $("#youBian").html('');
                    $("#youBian").html(str);
                }else {

                }

            },
            error:function () {
                alert("error");
            }
        });
    });
</script>
</body>
</html>