<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片验证码测试</title>
    <script src="/js/jquery-1.8.3.js"></script>
    <script>
        var picCode = null;
        $(function () {
            $.post("/forwardUser/getCheckPic", function (data) {
                picCode = data.picCode;
                console.log(picCode);
                $("#pic").html("<img src='/forwardUser/showPic?fileName="+data.fileName+"'>");
            });
        });

        function changePic() {
            $.post("/forwardUser/getCheckPic", function (data) {
                picCode = data.picCode;
                console.log(picCode);
                $("#pic").html("<img src='/forwardUser/showPic?fileName="+data.fileName+"'>");
            });
        }

        function checkCode() {
            if ($("#thePicCode").val() == picCode) {
                alert("正确！");
            } else {
                alert("错误！");
            }
        }
    </script>
</head>
<body>
    <table>
        <tr>
            <td><span id="pic"></span></td>
            <td><a href="#" onclick='changePic()'>看不清楚，换一张</a></td>
        </tr>
        <tr>
            <td><input type="text" id="thePicCode"></td>
            <td><input type="button" onclick="checkCode()" value="验证"></td>
        </tr>
    </table>

</body>
</html>