<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页轮播图</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <script src="../js/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="">

            </div>
        </div>
        <!--两行-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">首页</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">我要借款 </a>
                        </li>
                        <li>
                            <a href="#">我要贷款</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">我的账户</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img :src="p1" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img :src="p2" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img :src="p3" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        >
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            p1: '',
            p2: '',
            p3: ''
        },
        created: function () {
            //当页面加载时显示图片的原始样子，更改后重新加载数据
            var self = this;
            var loc1 = '1';
            var loc2 = '2';
            var loc3 = '3';
            axios.post('/pic/getPicByLoc',{loc:loc1}).then(function (response) {
                self.p1=response.data[0].URL
            });
            axios.post('/pic/getPicByLoc',{loc:loc2}).then(function (response) {
                self.p2=response.data[0].URL
            });
            axios.post('/pic/getPicByLoc',{loc:loc3}).then(function (response) {
                self.p3=response.data[0].URL
            });
        }
    })
</script>
</html>