<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.8.3.js"></script>
</head>
<body>
    <table>
        <tr>
            <td><input type="text" placeholder="请输入手机号" id="tel"></td>
            <td><input type="button" value="获取验证码" onclick="getCode()"></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="请输入验证码" id="code"></td>
            <td><input type="button" value="测试是否正确" onclick="testCode()"></td>
        </tr>
    </table>

    <script>
        var realCode = null;

        function getCode() {
            alert("开始发送");
            $.post("/forwardUser/sendCode", {
                tel : $("#tel").val()
            }, function (data) {
                realCode = data;
            });
            alert("发送成功");
        }

        function testCode() {
            if ($("#code").val() == realCode) {
                alert("验证码正确！");
            } else {
                alert("验证码错误！");
            }
        }
    </script>

</body>
</html>