<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <style type="text/css">
        .el-header {
            background-color: #B3C0D1;
            color: #333;
        }

        /*头部的背景图片*/
        #hd {
            background-color:dodgerblue;
        }
        #ma {
            padding:0px;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.11/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.11/lib/index.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
</head>

<body>

<div id="app">
    <el-container style=" border: 1px solid #eee">


        <!--整体头部-->
        <el-header id="hd" style="text-align: right; font-size: 30px; height: 100px; font-family: Consolas">
                <span>用户名：{{userName}}</span>
        </el-header>


        <!--整体的底部-->
        <el-container>

            <!--左侧菜单栏-->
            <el-aside width="250px" style="background-color: rgb(255,255,255);">
                <!--accordion是否每次只打开一个同级节点  highlight-current高亮-->
                <el-tree node-key="id" :default-expand-all="false" :icon-class="icon" :highlight-current="true" :data="treeData"
                         :props="defaultProps" :accordion="true" @node-click="handleNodeClick">
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                        <span>
                            <i :class="node.icon">
                            </i>{{ node.label }}
                        </span>
				    </span>
                </el-tree>
            </el-aside>


            <!--右侧表单-->
            <el-main id="ma">
                <el-tabs v-model="editableTabsValue2" type="card" closable @tab-remove="removeTab">
                    <el-tab-pane
                            v-for="(item, index) in editableTabs2"
                            :key="item.name"
                            :label="item.title"
                            :name="item.name"
                    >
                        <iframe scrolling="auto" frameborder="0" :src="item.url"
                                style="width:100%;height:600px;"></iframe>
                    </el-tab-pane>
                </el-tabs>

            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            tableData: [],
            name: '',
            src: '',
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            treeData: [],
            icon: 'el-icon-menu',
            editableTabsValue2: '2',
            editableTabs2: [{
                title: '马六甲P2P后台',
                name: '2',
                url: '/power/wel'
            }],
            tabIndex: 2,
            userName: ''
        },
        methods: {
            handleNodeClick(data) {
                //父标签点击不会显示
                if (data.url != null && data.url != 'null' && data.url != '')
                    this.addTab(data.label, data.url);
            },
            addTab: function (targetName, url) {
                var newTabName = targetName;
                if (JSON.stringify(this.editableTabs2).indexOf(newTabName) == -1) {
                    this.editableTabs2.push({
                        title: targetName,
                        name: newTabName, url: url
                    });
                }
                this.editableTabsValue2 = newTabName;
            },
            removeTab: function (targetName) {
                let tabs = this.editableTabs2;
                let activeName = this.editableTabsValue2;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }
                this.editableTabsValue2 = activeName;
                this.editableTabs2 = tabs.filter(tab => tab.name !== targetName);
            }
        },
        created: function () {
            var self = this;
            axios.post('/power/tree').then(function (response) {
                self.treeData = response.data;
            })
            axios.post('/power/user').then(function (response) {
                //alert(JSON.stringify(response.data))
                self.userName = response.data;
            })
        }
    })
</script>
</body>

</html>