<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link href="../css/style1.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

</head>
<body>
<div class="login-form">
    <div class="top-login">
        <span><img src="../imgs/group.png" alt=""/></span>
    </div>
    <h1>马六甲P2P网贷系统登陆</h1>
    <div class="login-top">
        <div>
            <div float="left"><h2><a href="/power/login">用户名登陆</a></h2></div>
            <div><h2><a href="/power/login1">手机号登陆</a></h2></div>
        </div>
        <form action="/power/toLogin" method="post">
            <div class="login-ic">
                <i>手机号</i>
                <input type="text"  name="phone" />
                <div class="clear"> </div>
            </div>
            <div class="login-ic">
                <i class="icon">验证码</i>
                <input type="password"  name="passWord"  />
                <div class="clear"> </div>
            </div>

            <div class="log-bwn">
                <input type="submit"  value="登陆" >
            </div>
        </form>
    </div>
    <p class="copy">建议使用火狐浏览器登陆</p>
</div>
</body>
</html>