<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.p2p.dao.BackCheckDao">
    <!--带参分页查询-->
    <select id="getPagesByParam" resultType="map">
        select userid,realname,sex,address,idnumber,academic,housed,marriage,income,idimagefountvar,idimagebackvar,to_char(audittime,'yyyy-mm-dd hh:mm:ss') as audittime,auditresult,auditremarks from
        (select rownum rn,userid,realname,sex,address,idnumber,academic,housed,marriage,income,idimagefountvar,idimagebackvar,audittime,auditresult,auditremarks from tb_userreal where rownum &lt; #{end}) a where a.rn &gt; #{start}
        <if test="REALNAME != null and REALNAME != ''">
            and REALNAME like '%'||#{REALNAME}||'%'
        </if>
        <if test="AUDITRESULT != null and AUDITRESULT != ''">
            and AUDITRESULT = #{AUDITRESULT}
        </if>
    </select>
    <!--查询分页总数量-->
    <select id="getPageCount" resultType="int">
        select count(*) from tb_userreal
        <where>
            <if test="REALNAME != null and REALNAME != ''">
                and REALNAME like '%'||#{REALNAME}||'%'
            </if>
            <if test="AUDITRESULT != null and AUDITRESULT != ''">
                and AUDITRESULT = #{AUDITRESULT}
            </if>
        </where>
    </select>
    <!--审核操作-->
    <update id="chgCheck" parameterType="map">
        update tb_userreal set AUDITTIME = sysdate, AUDITRESULT = #{AUDITRESULT}, AUDITREMARKS = #{AUDITREMARKS} where userid = #{USERID}
    </update>
    <!--带参分页查询-->
    <select id="getPagesByParamT" resultType="map">
        select userid,usertel,realname,appointmenttime,auditresult,auditremarks,to_char(audittime,'yyyy-mm-dd hh:mm:ss') as audittime,to_char(appointtime,'yyyy-mm-dd hh:mm:ss') as appointtime from
        (select rownum rn,a.userid,a.usertel,b.realname,c.appointmenttime,c.auditresult,c.auditremarks,c.audittime,c.appointtime from TB_FWDLOGIN a inner join TB_USERREAL b on (a.userid=b.userid)
        inner join TB_VIDEO_AUDIT c on (a.userid=c.userid) where rownum &lt; #{end}) d where d.rn &gt; #{start}
        <if test="REALNAME != null and REALNAME != ''">
            and REALNAME like '%'||#{REALNAME}||'%'
        </if>
        <if test="AUDITRESULT != null and AUDITRESULT != ''">
            and AUDITRESULT = #{AUDITRESULT}
        </if>
    </select>
    <!--查询分页总数量-->
    <select id="getPageCountT" resultType="int">
        select count(*) from TB_FWDLOGIN a inner join TB_USERREAL b on (a.userid=b.userid) inner join TB_VIDEO_AUDIT c on (a.userid=c.userid)
        <where>
            <if test="REALNAME != null and REALNAME != ''">
                and b.REALNAME like '%'||#{REALNAME}||'%'
            </if>
            <if test="AUDITRESULT != null and AUDITRESULT != ''">
                and c.AUDITRESULT = #{AUDITRESULT}
            </if>
        </where>
    </select>
    <!--视频审核操作-->
    <update id="chgVideo" parameterType="map">
        update tb_video_audit set AUDITRESULT = #{AUDITRESULT}, APPOINTTIME = to_date(#{APPOINTTIME},'yyyy-MM-dd HH24:mi:ss'),
        AUDITREMARKS = #{AUDITREMARKS}, AUDITTIME = sysdate where USERID = #{USERID}
    </update>
    <!--获取各个省份人数-->
    <select id="addressNum" resultType="map">
        select count(*) as NUM, ADDRESS as ADDR from tb_userreal group by address
    </select>
    <!--获取标ID-->
    <select id="selBid" resultType="map">
        select ID from TB_BIDINFO
    </select>
    <!--月盈利统计-->
    <select id="getEChartsData" resultType="map">
        select bi.id as bid,bs.bidAmount,ui.userName as username,bi.bidRate,bs.bidRate/bi.bidDeadline as monprofit from tb_bid_submit bs inner join
        tb_bidinfo bi on bi.id = bs.bidInfoID inner join tb_fwdlogin ui on ui.userID = bs.userID where bi.id = #{id}
    </select>
</mapper>