<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.p2p.dao.EmpDao">
    <select id="selectEmp" resultType="map">
        select * from TB_EMP where username = #{userName}
    </select>
    <select id="selectEmpByPhone" resultType="map">
        select * from TB_EMP
        <where>
            <if test="phoneNum != null and phoneNum != ''">
                and tel = #{phoneNum}
            </if>
        </where>
    </select>
    <select id="getEmpList" resultType="map">
      select e.ID,e.USERNAME,e.PASSWORD,r.ROLE,e.EMPNAME,d.DNAME,e.SEX,to_char(e.HIREDATE,'yyyy-mm-dd') HIREDATE,e.SAL,e.COMM,e.IDCARD,e.TEL
from TB_EMP e
join TB_ROLE r
    on e.ROLEID = r.ID
join TB_DEPT d
    on e.DEPTNO = d.ID
    <where>
        <if test="userName != null and userName != ''">
            and username = #{userName}
        </if>
        <if test="empName != null and empName != ''">
            and empname like '%'||#{empName}||'%'
        </if>
        <if test="dName != null and dName != ''">
            and dname = #{dName}
        </if>
    </where>
   </select>
    <update id="updateEmp">
        update TB_EMP set
            USERNAME=#{USERNAME},
            PASSWORD=#{PASSWORD},
            ROLEID=#{ROLE},
            EMPNAME=#{EMPNAME},
            DEPTNO=#{DNAME},
            SEX=#{SEX},
            HIREDATE=to_date(#{HIREDATE},'yyyy-mm-dd'),
            SAL=#{SAL},
            COMM=#{COMM},
            IDCARD=#{IDCARD},
            TEL=#{TEL}
        where
            ID=#{ID}
    </update>
    <insert id="insertEmp">
        insert into TB_EMP values (TB_EMP_ID.nextval,#{USERNAME},#{PASSWORD},#{ROLE},#{EMPNAME},
        #{DNAME},#{SEX},to_date(#{HIREDATE},'yyyy-mm-dd'),#{SAL},#{COMM},#{IDCARD},#{TEL})
    </insert>
    <delete id="deleteEmp">
        delete from TB_EMP where ID = #{ID}
    </delete>
    <delete id="batchDel">
        delete from TB_EMP where ID in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>