<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.p2p.dao.ForwardUserDao">
    <!--用户名唯一性校验-->
    <select id="userExist" resultType="map">
        select * from TB_FWDLOGIN where USERNAME = #{userName}
    </select>
    <!--手机号唯一性校验-->
    <select id="telExist" resultType="map">
        select * from TB_FWDLOGIN where USERTEL = #{tel}
    </select>
    <!--新增前台用户-->
    <insert id="addForwardUser" parameterType="map">
        insert into tb_fwdlogin values (TB_FWDLOGIN_ID.nextval, #{userName}, #{userPsw}, #{userPhone}, #{recPeople}, 1)
    </insert>
    <!--检查用户名密码是否正确-->
    <select id="checkNamePsw" resultType="map">
        select * from TB_FWDLOGIN where USERNAME = #{userName} and USERPSW = #{userPsw}
    </select>
    <!--查询对应的userId-->
    <select id="selectId" resultType="int">
        select userId from TB_FWDLOGIN where USERNAME = #{userName}
    </select>
    <!--插入到表TB_FWDINFO-->
    <insert id="addToInfo" parameterType="int">
        insert into TB_FWDINFO (FWDINFOID, USERID, USERHEAD) values (TB_FWDINFO_ID.nextval, #{userId}, 'defaulthead.jpg')
    </insert>
    <!--修改头像-->
    <update id="chgHead" parameterType="map">
        update TB_FWDINFO set USERHEAD = #{userHead} where USERID = #{userId}
    </update>
</mapper>