<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.p2p.dao.ForwardInfoDao">
    <!--通过session获取用户信息-->
    <select id="getSesInfo" resultType="map">
        select * from TB_FWDINFO where USERID = #{userId}
    </select>
    <!--修改支付密码-->
    <update id="changePayPsw" parameterType="map">
        update TB_FWDINFO set USERPAYPSW = #{chgData} where USERID = #{userId}
    </update>
    <!--修改登录密码-->
    <update id="changeLogPsw" parameterType="map">
        update TB_FWDLOGIN set USERPSW = #{chgData} where USERID = #{userId}
    </update>
    <!--修改电话号码-->
    <update id="changeTel" parameterType="map">
        update TB_FWDLOGIN set USERTEL = #{chgData} where USERID = #{userId}
    </update>
    <!--修改银行卡号-->
    <update id="changeBankNum" parameterType="map">
        update TB_FWDINFO set USERBANKNUM = #{chgData} where USERID = #{userId}
    </update>
    <!--修改邮箱-->
    <update id="changeEmail" parameterType="map">
        update TB_FWDINFO set USEREMAIL = #{chgData} where USERID = #{userId}
    </update>
</mapper>