<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.p2p.dao.PowerDao">
    <select id="getPowerList" resultType="map">
        select p.*
from TB_POWER p
join (select *
    from TB_ROLE_POWER
    where ROLEID = #{param1}) e
    on p.ID = e.POWERID
    </select>
    <select id="getPList" resultType="map">
        select * from TB_POWER
    </select>
    <select id="getFid" resultType="map">
        select POWERID from TB_ROLE_POWER where ROLEID = #{param1}
    </select>

    <select id="selectTreeByPid" resultType="map">
        select * from TB_POWER where  PARENTID = #{pid}
    </select>

    <insert id="insertTree">
        insert into TB_POWER (ID,NAME,ICONCLS,STATE,URL,PARENTID) values (TB_POWER_ID.nextval,#{NAME},'aaa','1',#{URL},#{PARENTID})
    </insert>
    <update id="updateTree">
        update TB_POWER set NAME = #{NAME}, URL = #{URL}, PARENTID = #{PARENTID} where ID = #{ID}
    </update>
    <delete id="deleteTree">
        delete from TB_POWER where ID = #{ID}
    </delete>
    <select id="selectFid" resultType="map">
        select PARENTID from TB_POWER where ID = #{param1}
    </select>
</mapper>