<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.p2p.dao.RoleDao">
   <select id="getRoleList" resultType="map">
       select * from TB_ROLE
   </select>
    <select id="getRoleListBy" resultType="map">
        select * from TB_ROLE
        <where>
            <if test="ROLE != null and ROLE != ''">
                and role= #{ROLE}
            </if>
        </where>
    </select>
    <insert id="insertAdd" >
        insert into TB_ROLE VALUES (TB_ROLE_ID.nextval,#{ROLE})
    </insert>
    <update id="updateRole">
        update TB_ROLE set
        role=#{ROLE}
        where
        id=#{ID}
    </update>
    <delete id="deleteRole">
        delete from TB_ROLE where id = #{ID}
    </delete>
    <delete id="batchDel">
        delete from TB_ROLE where id in
        <foreach collection="list" item="ID" open="(" separator="," close=")">
            #{ID}
        </foreach>
    </delete>
</mapper>