
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>P2P网贷</title>
<meta name="keywords" content="P2P,网贷平台" />
<meta name="description" content="P2P网贷平台" />

<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../css/common.css" rel="stylesheet" />
<link href="../css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../script/jquery.min.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<style>
/*上下滚动*/
#scrollDiv {
	width: 400px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
#scrollDiv li {
	height: 30px;
	padding-left: 10px;
}
</style>
<script type="text/javascript">
  $(function () {
      //页面统计
      $.post(
          "/bid/getSum",
          function (data) {
              $("#ljtzje").html(data.ljtzje);
              $("#yhbx").html(data.yhbx);
              $("#ye").html(data.ye);
              $("#zcrs").html(data.zcrs);
          }
      );
  });
// 上下滚动
function AutoScroll(obj) {
    $(obj).find("ul:first").animate({
        marginTop: "-25px"
    },
    500,
    function() {
        $(this).css({
            marginTop: "0px"
        }).find("li:first").appendTo(this);
    });
}
$(document).ready(function() {
    var myar = setInterval('AutoScroll("#scrollDiv")', 3000);
    $("#scrollDiv").hover(function() {
        clearInterval(myar);
    },
    function() {
        myar = setInterval('AutoScroll("#scrollDiv")', 3000)
    }); //当鼠标放上去的时候，滚动停止，鼠标离开的时候滚动开始
});

//动态获得投标列表
$(function () {
    $.ajax({
        url:"/bid/getListBy",
        data:{pageNo:1,pageSize:3},
        async:false,//同步
        type:"post",
        dataType:"json",
        success:function (data) {
            var str="";
            if(data!=null){
             for(var i=0;i<data.list.length;i++){
            str +="<li>"+
                "<div class=\"title\"><a href=\"/userAccount/infor\" target=\"_blank\"><i class=\"icon icon-zhai\" title=\"债权贷\"></i></a><a href=\"/forword/toBidInfo?bidid="+data.list[i].BIDID+"\" class=\"f18\" title=\"周先生债权质押借款0.1万元\" target=\"_blank\">" +data.list[i].BIDDESC +"</a></div>\n"+
                "<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n"+
                "<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n"+
                "<tbody>\n"+
                "<tr>\n"+
                "<td width=\"260\">借款金额<span class=\"f24 c-333\">" +data.list[i].BIDAMOUNT +"</span>元</td>\n"+
                "<td width=\"165\">月利率<span class=\"f24 c-333\">" +data.list[i].BIDRATE +"%</span></td>\n"+
                "<td width=\"180\" align=\"center\">期限<span class=\"f24 c-orange\">" +data.list[i].BIDDEADLINE +"</span>天</td>\n"+
                "<td><div class=\"circle\">\n"    +
                "<div class=\"left progress-bar\">\n"+
                "<div class=\"progress-bgPic progress-bfb1\">\n"+
                "<div class=\"show-bar\">" +data.list[i].BIDSCHEDULE +"%</div>\n"    +
                "</div>\n"    +
                "</div>\n"+
                "</div></td>\n"+
                "<td align=\"right\"><a class=\"ui-btn btn-green\" href=\"/forword/toBidInfo?bidid="+data.list[i].BIDID+"\">我要投资</a> </td>\n"+
                "</tr>\n"+
                "</tbody>\n"+
                "</table>\n"+
                "</li>"
            }
            $("#bid").append(str);
            }
        },
        error:function () {
            alert("error");
        }
    });
});

</script>
</head>
<body>
<header>
  <div class="header-top min-width">
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
      <ul class="fn-right header-top-ul">

        <!--用户名不为空-->
        <li th:if="${session.userInfo.USERNAME} ne null">
          <div class="">
            <span th:text="欢迎您 "></span>
            <span th:text="${session.userInfo.USERNAME}"></span>
          </div>
        </li>
        <li th:if="${session.userInfo.USERNAME} ne null">
          <div class="" >
            <a href="/forword/toindex" class="js-login" title="退出">退出</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="header min-width">
    <div class="container">
      <div class="fn-left logo"> <a class="" href="/userAccount/index"> <img src="../images/logo.png" title=""> </a> </div>
      <ul class="top-nav fn-clear">
        <li class="on"> <a href="/userAccount/index">首页</a> </li>
        <li> <a href="/userAccount/list" class="">我要投资</a> </li>
        <li> <a href="/borrow/toBorrow" class="">我要借款</a> </li>
        <li> <a href="/userAccount/bzzx">安全保障</a> </li>
        <li class="top-nav-safe"> <a href="/userAccount/Account">我的账户</a> </li>
        <li> <a href="/userAccount/gsjj">关于我们</a> </li>
      </ul>
    </div>
  </div>
</header>
<!--banner-->
<div class="flexslider">
  <ul class="slides">
    <li style="background-image: url(../images/banner.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1; background-position: 50% 0px; background-repeat: no-repeat no-repeat;" class=""><a href="#" target="_blank"></a></li>
    <li style="background-image: url(../images/banner.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1; background-position: 50% 0px; background-repeat: no-repeat no-repeat;" class=""><a href="#" target="_blank"></a></li>
    <li style="background-image: url(../images/banner.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1; background-position: 50% 0px; background-repeat: no-repeat no-repeat;" class=""><a href="#" target="_blank"></a></li>
    <li style="background-image: url(../images/banner.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1; background-position: 50% 0px; background-repeat: no-repeat no-repeat;" class=""><a href="# " target="_blank"></a></li>
    <li style="background-image: url(../images/banner.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1; background-position: 50% 0px; background-repeat: no-repeat no-repeat;" class=""><a href="#" target="_blank"></a></li>
  </ul>
</div>
<script src="../script/jquery.flexslider-min.js"></script>
<script>
$(function(){
    $('.flexslider').flexslider({
        directionNav: true,
        pauseOnAction: false
    });
    //产品列表滚动
    var pLength = $('.pListContentBox > li').length;
    var cishu = pLength-4;
    var n = 0;
    $('.pListContentBox').css({'width':pLength*245+'px'});
    if(pLength>4){
        $('.pListRight').addClass('curr');
    }
    $('.pListRight').on('click',function(){
        if(cishu>0){
            //alert('1');
            n++;
            cishu--;
            $('.pListContentBox').animate({'left':'-'+n*244+'px'},500);
            if(cishu==0){
                $('.pListRight').removeClass('curr');
            }
            if(n>0){
                $('.pListLeft').addClass('curr');
            }
        }
    });
    $('.pListLeft').on('click',function(){
        if(n>0){
            n--;
            cishu++;
            $('.pListContentBox').animate({'left':'-'+n*244+'px'},500);
            if(n==0){
                $('.pListLeft').removeClass('curr');
            }
            if(cishu>0){
                $('.pListRight').addClass('curr');
            }
        }
    });
});
</script>
<script type="text/javascript">
var gaintop;
$(function(){
	gaintop = $(".login_float").css("top");
	$(".login_float").css("top",-695);
	$(".login_float").show();
	$(".login_float").animate({top: gaintop,opacity:1},800);
    $(".login_float").animate({top: '-=12px',opacity:1},200);
    $(".login_float").animate({top: gaintop,opacity:1},200);
    $(".login_float").animate({top: '-=6px',opacity:1},200);
    $(".login_float").animate({top: gaintop,opacity:1},200);
    $(".login_float").animate({top: '-=2px',opacity:1},100);
    $(".login_float").animate({top: gaintop,opacity:1},100);
});


</script>
<div class="new-announcement">
  <div class="new-announcement-title">最新公告</div>
  <div class="new-announcement-content">
    <div id="scrollDiv">
      <ul style="margin-top: 0px;">
        <li><a class="black-link" href="/userAccount/gsggxq" target="_blank"> 2015年9月8日还款公告</a></li>
        <li><a class="black-link" href="/userAccount/gsggxq" target="_blank"> 2015年纪念抗日战争胜利放假公告</a></li>
      </ul>
    </div>
  </div>
  <a class="more" href="#">更多</a> </div>
<div class="ipubs"><span class="o1">累计投资金额:<strong><p id="ljtzje"></p></strong>元</span> <span class="o2">已还本息:<strong><p id="yhbx"></p></strong>元</span><span class="o2">余额:<strong><p id="ye"></p></strong>元</span><span class="o4">注册人数:<strong><p id="zcrs"></p></strong>人</span></div>
<div class="feature"> <a class="fea1" href="#"> <i></i>
  <h3>高收益</h3>
  <span>年化收益率最高达“20%<br>
  50元起投，助您轻松获收益</span> </a> <a class="fea2" href="#"> <i></i>
  <h3>安全理财</h3>
  <span>100%本息保障<br>
  实物质押，多重风控审核</span> </a> <a class="fea3" href="#"> <i></i>
  <h3>随时赎回</h3>
  <span>两步赎回您的资金<br>
  最快当日到账</span> </a> <a class="fea4" href="#"> <i></i>
  <h3>随时随地理财</h3>
  <span>下载手机客户端<br>
  随时随地轻松理财</span> </a> </div>
<!--中间内容-->
<div class="main clearfix mrt30" data-target="sideMenu">
  <div class="wrap">
    <div class="page-left fn-left">
      <div class="mod-borrow">
        <div class="hd">
          <h2 class="pngbg"><i class="icon icon-ttyx"></i>推荐项目</h2>
          <div class="fn-right f14 c-888">常规发标时间每天<span class="c-555">10:00，13:00和20:00</span>，其余时间根据需要随机发</div>
        </div>
        <div class="bd">
          <div class="des"><span class="fn-left">期限1-29天，期限短，收益见效快</span><a href="/userAccount/list" class="fn-right">查看更多&gt;&gt;</a></div>
          <div class="borrow-list">
            <ul id="bid">

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page-right fn-right" style="top: 0px;">
      <div class="mod-risk-tip"><i class="icon icon-tip"></i><a href="#" class="c-orange">收益与风险并存，请理性选择平台</a></div>
      <div class="mod mod-notice mrt20">
        <div class="hd">
          <h3>网站公告</h3>
          <a href="/userAccount/wzgg" class="fn-right">更多&gt;</a></div>
        <div class="bd">
          <div class="article-list clearfix">
            <ul>
              <li><a href="#" title="关于“金融产品”产品的说明">关于“金融产品”产品的说明</a><span class="date">06-19</span></li>
              <li><a href="#" title="2015年9月10日发标预告">2015年9月10日发标预告</a><span class="date">09-10</span></li>
              <li><a href="#" title="关于平台“纪念抗战胜利70周年”9月3日***">关于平台“纪念抗战胜利70周年***</a><span class="date">09-02</span></li>
              <li><a href="#" title="关于P2P理财平台新系统升级的公告">关于P2P理财平台新系统***</a><span class="date">09-02</span></li>
              <li><a href="#" title="关于债权贷新规调整实施的公告">关于债权贷新规调整实施的公告</a><span class="date">08-25</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mrt20 mod"> <a href="#"><img src="../images/pic_home_js.jpg" width="300" height="80" alt="收益计算器" class="pic"></a></div>
    </div>
  </div>
</div>
<script src="../script/index.js"></script>
<div class="partners wrap clearfix mrb30">
  <div class="partners-inner ui-tab">
    <div class="hd">
      <div class="ui-tab-nav"> <i class="icon icon-cur" style="left: 151px;"></i>
        <ul>
          <li class=""><a href="#">合作机构</a></li>
          <li class="active"><a href="#">友情链接</a></li>
        </ul>
      </div>
    </div>
    <div class="bd">
      <div class="ui-tab-cont">
        <div class="ui-tab-item active">
          <div class="img-scroll">
            <div class="container">
              <ul>
                <li><img src="../images/logo_sbcvc.png" width="152" height="52" alt="软银"></li>
                <li><img src="../images/logo_abc.png" width="152" height="52" alt="农业银行"></li>
                <li><img src="../images/logo_wdzj.png" width="152" height="52" alt="网贷之家"></li>
                <li><img src="../images/logo_baidu.png" width="152" height="52" alt="百度"></li>
                <li><img src="../images/logo_aqb.png" width="152" height="52" alt="安全宝"></li>
                <li><img src="../images/logo_gds.png" width="152" height="52" alt="万国数据"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ui-tab-item">
          <div class="links"> <a target="_blank" href="http://www.wd361.com">网贷互联</a> <a target="_blank" href="http://www.bjzq.com.cn">北京证券网</a> <a target="_blank" href="http://v.yidai.com/">易贷微理财</a> <a target="_blank" href="http://www.wangdaicaifu.com">P2P</a> <a target="_blank" href="http://www.p2pchina.com">网贷中国</a> <a target="_blank" href="http://www.wangdaibangshou.com">网贷帮手</a> <a target="_blank" href="https://www.okcoin.cn">比特币网</a> <a target="_blank" href="http://www.p2p110.com">网贷110</a> <a target="_blank" href="http://www.zcmall.com">招财猫理财</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--网站底部-->
<div id="footer" class="ft">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="/userAccount/gsjj">公司简介</a><a href="/userAccount/gltd">管理团队</a><a href="/userAccount/wzgg">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="/userAccount/list">我要投资</a><a href="/borrow/toBorrow">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="/userAccount/bzzx">新手入门</a><a href="/userAccount/Account">我的账户</a><a href="/userAccount/list">债权转让</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="/userAccount/xiwm">联系我们</a></dd>
      </dl>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="../images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="#"></a></div>
    <div class="ft-identity">©2015 亿人宝 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;安徽省亿人宝投资管理有限公司&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备12345678号-1</a></div>
  </div>
</div>
</body>
</html>
